<head>

  <title>Cik Pogodi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <style type="text/css">
    body {
      background: url('https://i.pinimg.com/originals/11/59/ff/1159ff2774ab2e7b4255cd4f03e63412.png');

    }
  </style>
</head>