{#Autor: Merisa Harcinovic 0258/19 #}
{#Autor: Mehmed Harcinovic 0261/19 #}


{% extends 'pages/base.html' %}
{% block title %}
    Cik Pogodi - Kreiraj lobi
{% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}

    {% load static %}

    <div class="kreirajLobi">
        <div class="container-fluid text-center">
        <div class="row content">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8 text-left pt-5">
                <form id="lobiForm" class="bg-white p-5" method="post">
                    {% csrf_token %}
                    <h2>Kreiraj lobi</h2>
                    <div class="form-group">
                        <label id="imeLobija">Ime lobija</label>
                        <input id="id_imeLobija" name="imeLobija"
                                       type="text" class="form-control" placeholder="Unesite ime lobija">

                        <label id="rec">Rec: </label>
                        <select class="form-select  form-select-lg" name="selectedRec">
                            <option selected>Odaberi rec</option>
                            {% for rec in reci %}
                              <option value="{{ rec.rec }}">{{ rec.rec }}</option>

                            {% endfor %}
                        </select>

                    </div>




                    <input type="submit" value="Kreiraj lobi"
                           class="btn btn-primary pull-right" />
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Neispravno uneti podaci. Pokusajte ponovo
                        </p>
                    {% endif %}
                    {% if error_msg %}
                        <div class="error-message">{{ error_msg}}</div>
                    {% endif %}
                </form>
          </div>
        </div>
    </div>
    </div>


{% endblock content %}