{% extends 'pages/base.html' %}
{% block title %}
    Cik Pogodi - Pridruzi se lobiju
{% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}

    {% load static %}

    <div class="pridruziSeLobiju">

        <div class="container-fluid text-center">
        <div class="row content">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8 text-left pt-5">
                <form id="lobiForm" class="bg-white p-5" method="post">
                    {% csrf_token %}
                    <h2>Pridruzi se lobiju</h2>
                    <div class="form-group">
                        <label id="rec">Rec</label>
                        <input id="id_rec" name="rec"
                                       type="text" class="form-control" placeholder="Unesite rec">

                    </div>

                    <input type="submit" value="pridruzi se!"
                           class="btn btn-primary pull-right" />
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Neispravno uneti podaci. Pokusajte ponovo
                        </p>
                    {% endif %}
                </form>
          </div>
        </div>

        </div>
    </div>


{% endblock content %}